//Main layout
html {
    height: 100%; /*Прижимаем подвал книзу.*/
    position: relative; /*Прижимаем подвал книзу.*/
}
body {
    background: #0086c9;
    color: black;
    font-family: $f_default;
    font-size: 62.5%;
    position: relative; /*Прижимаем подвал книзу.*/
    line-height: 1.5;
    margin: 0 auto; /*Выравниваем посередине.*/
    min-height: 100%;
    width: 100%;
}
.content {
    height: 100%; /*Прижимаем подвал книзу.*/
    background: url('../img/background-header.png') repeat-x center -10px;
}
.main-content {
    height: 100%;
    width: 100%;
    background: url('../img/background-content.jpg') repeat-x center bottom;
    color: white;
}

//Header
#header { /*Основной контейнер.*/
    .header-text {
        color: white;
        font-size: 26px;
        text-transform: uppercase;
        font-weight: bold;
        width: 100%;
        max-width: 576px;
        margin: 0 auto;
        padding-top: 20px;
        font-family: $f_Rough;
        .festival {
            margin-left: 30px;
            word-wrap: break-word;
        }
        .year {
            //float: right;
            margin-right: 25px;
        }
    }
    .logo { /*Блок с логотипом.*/
        width: 100%;
        max-width: 576px;
        height: 180px;
        margin: 0 auto;
        background: url(../img/logo_baikal-live.png) no-repeat;
        background-size: contain;
    }
    @media screen and (max-width: 374.99px) {
        .header-text {
            .festival,
            .year {
                display: block;
                margin: 0;
                text-align: center;
                font-size: 18px;
            }
        }
    }
    @media screen and (min-width: 375px) and (max-width: 575.99px) {
        .header-text {
            .festival,
            .year {
                display: block;
                margin: 0;
                text-align: center;
                font-size: 22px;
            }
        }
    }
}

//Main content
.column-full {
    text-align: center;
    margin-bottom: 50px;
    .content-festival {
        margin-top: 5px;
        font-size: 26px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        .date {
            font-size: 60px;
            font-family: 'Posterizer_KG_Rough';
            margin-bottom: -5px;
        }
        .place {
            font-size: 30px;
            font-family: 'Posterizer_KG_Rough';
        }
    }
    .content-festival-information p {
        font-size: 17px !important;
        line-height: 1.1;
        max-width: 650px;
        margin: 0 auto;
        padding-top: 10px;
        a.button {
            color: white;
            font-weight: bold;
            display: inline-block;
            margin-top: 20px;
            text-decoration: none;
            background: #c82d1f;
            padding: 14px 15px 15px;
            border-radius: 8px;
            margin-bottom: 5px;
            transition: $transition;

            &:hover {
                background: #ea3524;
                transition: $transition;
            }
        }
    }

    @media screen and (max-width: 575.99px) {
        .content-festival {
            .date {
                font-size: 24px;
            }
            .place {
                font-size: 18px;
            }
        }
    }

}
.column-left {
    .content-artists {
        clear: both;
        overflow: hidden;
        max-width: calc(350px + 50px + 500px);
        margin: 20px auto;
        padding-bottom: 50px;
        img {
            width: 100%;
            height: auto;
            margin: 0 0 20px;
            border-radius: 8px;
            background-size: cover;
        }
        .inf {
            padding-bottom: 20px;
            .concert-date {
                margin-bottom: 15px;
                font-size: 24px;
                line-height: 0.9;
                span {
                    font-size: 17px;
                }
            }
            a.button {
                color: white;
                font-size: 14px;
                display: inline-block;
                margin-top: 12px;
                margin-bottom: 10px;
                text-decoration: none;

                background: #c82d1f;
                padding: 5px 10px 4px;
                border-radius: 8px;
                margin-bottom: 5px;

                &:hover {
                    background: #ea3524;
                }
            }
            .price {
                font-size: 11px;
            }
            .more-info {
                margin-top: 20px;
                font-size: 11px;
            }
            p {
                margin-bottom: 10px;
                &.what-where {
                    clear: both;
                    .label {
                        width: 55px;
                        display: block;
                        float: left;
                    }
                    .item {
                        display: block;
                        margin-left: 55px;
                    }
                    .item .who {
                        color: $c_orange;
                        font-weight: bold;
                    }
                }
            }
        }
        &.txt-only .inf {
            height: auto;
            width: 100%;
            padding: 0 50px 0 0;
            float: none;
            h2 span {
                float: none;
            }
            .what-where {
                margin-bottom: 10px;
                overflow: hidden;
                .label {
                    width: 120px;
                    font-weight: bold;
                }
                .item {
                    margin-left: 120px;
                    a {
                        margin: 8px 0 0;
                        padding: 0;
                        background-color: transparent;
                        text-decoration: underline;
                        //color: $c_yellowdark;
                        &:hover {
                            background-color: transparent;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 575.99px) {
        .content-artists {
            .inf {
               p.what-where {
                   margin-bottom: 5px;
                    .label {
                        float: none;
                        font-weight: bold;
                        font-size: 16px;
                        padding: 10px 0 5px;
                        width: 100%;
                        br {
                            display: none;
                        }
                    }
                    .item {
                        margin-left: 0;
                        a {
                            margin-top: 0;
                        }
                    }
                }
            }
            &.txt-only .inf {
                padding: 0;
                p.what-where {
                    .label {
                        float: none;
                        font-weight: bold;
                        font-size: 16px;
                        padding: 20px 0 5px;
                        width: 100%;
                        br {
                            display: none;
                        }
                    }
                    .item {
                        margin-left: 0;
                        a {
                            margin-top: 0;
                        }
                    }
                }
            }
        }

    }
    @media screen and (min-width: 576px) and (max-width: 767.98px) {}
    @include media-breakpoint-only(md) {}
    @include media-breakpoint-only(lg) {
        .content-artists {
            //display: flex;
            padding-bottom: 80px;
            .inf {
                min-height: 233px;
                padding-bottom: 0;
                a {
                    margin-top: 20px;
                }
            }
            &:nth-child(odd) {
                .inf {
                    padding-left: 40px;
                }
            }
        }
    }
    @include media-breakpoint-only(xl) {
        .content-artists {
            //display: flex;
            padding-bottom: 80px;
            .inf {
                max-width: 500px;
                min-height: 233px;
                padding-bottom: 0;
                a {
                    margin-top: 20px;
                }
            }
            &:nth-child(odd) {
                .inf {
                    padding-left: 40px;
                }
            }
        }
    }
}
.column-right {
    margin-top: -50px;
    padding: 21px 0 0 30px;
    ul {
        margin-top: 10px;
        padding-left: 15px;
        li {
            //list-style: none;
            margin: 0 0 5px;
            clear: both;
            .label {
                width: 58px;
                float: left;
            }
            .item {
                display: block;
                margin-left: 58px;
            }
        }
    }
    .list {
        margin-bottom: 30px;
    }
    .content-program {
        h2 {
            text-align: center;
            margin-bottom: 20px;
            span {
            font-size: 17px;
        }
        }
        ul li {
            &:first-child {
                //margin-bottom: 10px;
            }
            &:last-child {
                //margin-top: 10px;
            }
        }
    }


    @include media-breakpoint-only(lg) {
        margin-top: 0;
        .content-program h2 {
            text-align: left;
        }
    }
    @include media-breakpoint-only(xl) {
        margin-top: 0;
        .content-program h2 {
            text-align: left;
        }
    }
}
.content-partners {
    clear: both;
    text-align: center;
    //padding-top: 50px;
    padding-bottom: 400px;
    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        max-width: 900px;
        margin: 0 auto;
        padding: 0;
        li {
            padding: 30px 0 0;
            margin: 0 15px;
            list-style: none;
            a {
                display: block;
                width: 164px;
                height: 164px;
                border-radius: 82px;
                border: 3px solid #00b0e2;
                opacity: 0.9;
                text-align: center;
                text-indent: -40000px;
                background: white;
                transition: $transition;
                &:hover {
                    opacity: 1;
                    border-color: #0086c9;
                    transition: $transition;
                }
                &.irk_ru {
                    background: url(../img/logo-partner_irk-ru.png) no-repeat center white;
                }
                &.nashe-radio {
                    background: url(../img/logo-partner_nashe-radio.png) no-repeat center #C63032;
                }
                &.dauria {
                    background: url(../img/logo-partner_dauria.png) no-repeat center #363487;
                }
                &.yaidu {
                    background: url(../img/logo-partner_ya-idu.png) no-repeat center white;
                }
                &.baikal-eco {
                    background: url(../img/logo-partner_baikal-eco.png) no-repeat center white;
                }
                &.busy-bee {
                    background: url(../img/logo-partner_busybee.png) no-repeat center white;
                }
                &.revizor {
                    background: url(../img/logo-partner_revizor.png) no-repeat center white;
                }
                &.free {
                    padding-top: 60px;
                    text-indent: 0;
                    text-decoration: none;
                    span {
                        display: block;
                        text-decoration: underline;
                        font-weight: bold;
                    }
                    &:hover {
                        color: $c_reddark;
                        span {
                            text-decoration: none;
                        }
                    }
                }


                &.aktsent {
                    background: url(../img/logo-partner_aktsent.png) no-repeat center 7px white;
                }
                &.angara {
                    background: url(../img/logo-partner_angara.jpg) no-repeat center white;
                }
                &.ALS-Studio {
                    background: url(../img/logo-partner_als.png) no-repeat center white;
                }
                &.administration {
                    text-indent: 0px;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
        }
    }

    @media screen and (max-width: 575.99px) {
        padding-bottom: 150px;
    }
}
.seal {
    background: url('../img/seal.png') no-repeat center;
    background-size: contain;
    z-index: 1;
    width: 90%;
    height: 479px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    @media screen and (max-width: 575.99px) {
        display: none;
        bottom: -30px;
    }
} //Нерпа

//Footer
#footer {
    .wrapper-footer_empty { /*Прижимаем footer вниз.*/
        width: 100%;
        height: 190px;
        margin-top: -100px;
        clear: both;
        background: url(../img/background_footer.png) repeat-x center bottom;
        z-index: 2111;
        position: relative;
    }
    .footer {
        height: 200px; /*Прижимаем footer вниз.*/
        width: 100%;
        //min-width: 1000px;
        position: absolute; /*Прижимаем footer вниз.*/
        top: 100%; /*Прижимаем footer вниз.*/
        margin-top: -200px; /*Прижимаем footer вниз.*/
        z-index: 5555;
        .footer-box {
            height: 200px;
            overflow: hidden;
            margin: 0 auto;
            max-width: 1160px;
            padding: 0 20px;
            .footer-center {
                margin: 0 auto;
                text-align: center;
                max-width: 1000px;
                h2 {
                    display: none;
                }
                ul {
                    max-width: 640px;
                    margin: 110px auto 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-content: center;
                    li {
                        list-style: none;
                        color: white;
                        //float: left;
                        display: block;
                        margin: 0 15px 15px;
                        a {
                            display: block;
                            width: 70px;
                            height: 70px;
                            border-radius: 35px;
                            opacity: 1;
                            background-color: rgba(255,255,255,0.9);
                            &::before {
                                @include fa-icon();
                                content: '';
                                display: inline-block;
                                //position: absolute;
                                text-align: center;
                                margin: 15px auto 0;
                                z-index: 10;
                                width: 50px;
                                height: 50px;
                                color: $c_bluedark;
                                font-size: 40px;
                                text-decoration: none;
                                transition: color 0.4s ease-out;

                            }
                            &#mail::before {
                                content: $fa-var-envelope-o;
                            }
                            &#vk-link::before {
                                content: $fa-var-vk;
                            }
                            &#fb-link::before {
                                content: $fa-var-facebook;
                            }
                            &#ok-link::before {
                                content: $fa-var-odnoklassniki;
                            }
                            &#twi-link::before {
                                content: $fa-var-twitter;
                            }
                            &#inst-link::before {
                                content: $fa-var-instagram;
                            }
                            &:hover {
                                &::before {
                                    //color: $c_orange;
                                    color: $c_reddark;
                                    transition: color 0.4s ease-out;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 575.99px) {
        .wrapper-footer_empty {
            background: none;
        }
        .footer {
            height: auto;
            background-color: #0177C1;
            padding-bottom: 30px;
            .footer-box {
                height: auto;
                .footer-center {
                    h2 {
                        display: block;
                    }
                    ul {
                    padding: 0;
                    margin-top: 30px;
                }
                }
            }
        }
    }
}

