// COLORS
$c_white            : white;
$c_black            : #333333;
$c_bluelight        : #00B2E5;
$c_blue             : #009ED8;
$c_bluedark         : #006699;
$c_bluexdark        : #005DAA;
$c_orange           : #F9A01A;
$c_orangedark       : #F55804;
$c_reddark          : #c82d1f;
$c_redxdark         : #9E0D00;
$c_greyxlight       : #f0efee;
$c_greylight        : #999999;
$c_grey             : grey;

// FONTS
$f_default: Verdana, 'Open Sans', Arial, sans-serif;
$f_Rough: 'Posterizer_KG_Rough', Verdana, 'Open Sans', Arial, sans-serif;
$f_KG: 'Posterizer_KG', Verdana, 'Open Sans', Arial, sans-serif;
$f_Inline: 'Posterizer_KG_Inline', Verdana, 'Open Sans', Arial, sans-serif;
$f_Rounded: 'Posterizer_KG_Rounded', Verdana, 'Open Sans', Arial, sans-serif;
$f_Sketch: 'Posterizer_KG_Sketch', Verdana, 'Open Sans', Arial, sans-serif;

// OTHER
$transition: all 0.4s ease-out;
